# Node
**/node_modules/**

# Build
**/dist/**
**/build/**

# Logs
*.log
logs
**/npm-debug.log*
**/yarn-debug.log*
**/yarn-error.log*
**/lerna-debug.log*

# Webpack Cache
**/.webpack-cache/**

# Misc
*.DS_Store

# IDE
**/.idea/**
**/.vscode/**
